#elem {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: default;
  }

  #parent{
    height: 400px;
    width: 400px;
    border: solid 1px black;
    position: absolute;
    top: 0;
    left: 0;
  }